<!DOCTYPE html>
<html>
    <head>
        <title>V2ELinx | SignUp</title>
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="icon" href="/static/favicon.ico">
    </head>
    <body>
        <div id="sidebar">
            <a href="/">Home</a>
        </div>
        <div id="content">
            <form action="StaffSignIn">
                <div id="form">
                    <h1>SignUp to V2ELinx</h1>
                    <div class="form-group">
                        <label for="fullName">Enter Name:</label>
                        <input type="text" id="fullName" placeholder="Full Name" required>
                    </div>
                    <div class="form-group">
                        <label for="loginid">Enter Login Id:</label>
                        <input type="text" id="loginid" placeholder="Login Id" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Enter Password:</label>
                        <input type="password" id="password" placeholder="Enter Password" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Enter Password:</label>
                        <input type="password" id="password" placeholder="Re Enter Password" required>
                    </div>
                    <a href="StaffSignIn">Have an account, Sign In</a>
                    <br><br>
                    <a href="StaffSignIn"><input type="submit" value="Sign Up"></a>
                </div>
            </form>
        </div>
    </body>
</html>